* {
  margin: 0;
  padding: 0;
}
body {
  background: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
  color: white;
}

/* Head Section */
.head {
  width: 100%;
  padding: 25px 0 25px 0;
  text-align: center;
}
.head h1 {
  font-size: 45px;
}

/* Table Style */
.buttonTable {
  width: 100%;
  display: flex;
  justify-content: center;
}
table {
  text-align: center;
}
td {
  padding: 0 20px 0 20px;
}
td h3 {
  padding-top: 40px;
  padding-bottom: 10px;
}
/* Button Style*/
.button {
  width: 120px;
  height: 60px;
  padding: 5px 25px 5px 25px;
  background-color: red;
  border: 5px solid rgb(240, 219, 219);
  border-radius: 30px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

/* Switch Style */
.switch {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 60px;
  margin: 0 10px;
}
.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  background-color: red;
  border-radius: 34px;
}
.switch input {
  display: none;
}
.slider::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  border-radius: 50px;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #23bd04;
}
input:checked + .slider::before {
  transform: translateX(50px);
}

/* LED Button Style */
.ledButton {
  padding: 35px;
  border: 5px solid rgb(240, 219, 219);
  background-color: red;
  border-radius: 50%;
  font-size: 25px;
  cursor: pointer;
}

/* Toggle Color */
.toggle {
  background-color: #23bd04;
}
